@font-face {
    font-family: "Gilroy";
    src: url(./fonts/Gilroy-Bold.otf)format("otf");
}

@font-face {
    font-family: "Gilroy";
    src: url(./fonts/Gilroy-Regular.otf)format("otf");
}

@font-face {
    font-family: "Gilroy";
    src: url(./fonts/Gilroy-Medium.otf)format("otf");
}

@font-face {
    font-family: "Gilroy";
    src: url(./fonts/Gilroy-Semibold.otf) format("otf");
}

@font-face {
    font-family: "Gilroy";
    src: url(./fonts/Gilroy-Heavy.otf) format("otf");
}

@font-face {
    font-family: "Ink Free";
    src: url(./fonts/Inkfree.ttf)format("ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EDDEB7;
    scroll-behavior: smooth;
}

header h1 {
    font-family: 'Gilroy',sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

header {
    padding: 30px;
    text-align: center;
}

section {
    display: block;
}

h4 {
    width: 60%;
    font-family: 'Gilroy',sans-serif;;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 4.5rem;
    line-height: 4.8rem;
}

.inLaws {
    color: rgb(255 128 128);
}

.colored {
    color: rgb(255 128 128);
}

.password-container {
    background-color: #2F7C7F;
    width: 100%;
    height: 115px;
    padding: 15px;
    padding-left: 70px;
}

#password {
    height: 100%;
    background: #2F7C7F;
    color: #D2FFFF;
    border: none;
    width: 100%;
    border-left: 1px solid rgba(210, 255, 255, 0.64);
    font-size: 2.2rem;
    padding-left: 30px;
}

input::placeholder {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #D2FFFF;
}

#password:focus {
    outline: none;
}

span h4 {
    margin-top: 10px;
    display: block;
    margin-left: 40px;
}

.comment {
    color: #232222;
    width: 100%;
    height: 480px;
    background: #EEECEA;
    padding: 30px;
}


.reviews {
    margin-top: 40px;
    font-size: 3.1rem;
    line-height: 50px;
    color: #232222;
    transition: margin-top 0.5s ease 0s;
}

/* .rightBoxOuter {
    width: 100%;
} */

.leftBoxOuter {
    width: 50%;
}

#needSuggestion {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    text-decoration: none;
    color: #D2FFFF;
    padding: 18px;
    background: #2F7C7F;
    border-radius: 8px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border: none;
}

.suggestion-btn {
    text-align: center;
}


.animate {
    animation: showpap 500ms ease forwards;
}

@keyframes showpap {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(10px);
    }

}


.suggestion-div .heading {
    font-family: 'Gilroy', sans-serif;
    padding: 50px;
    text-align: center;
}

.box {
    width: 30%;
    background: #FFFFFF;
    border: 8px solid #7EBC97;
    border-radius: 22px;

}

.box .header {
    padding: 20px;
    background: #7EBC97;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: 'Gilroy',sans-serif;
}

.box-right .header {
    background: #E54949;

}

.box-right {
    border: 8px solid #E54949;
    width: 100%;
}

.boxes {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boxes ul {
    font-family: 'Gilroy', sans-serif;
    margin-left: 30%;
    line-height: 50px;
    padding: 30px;
    font-size: 20px;
}

.suggestion-div {
    display: none;
    max-height: 0px;

}

.showBox {
    transition: max-height 1s ease-out;
    display: block;
    max-height: 100%;
}

.box-right .content {
    max-height: 0;
    overflow: hidden;
}


.box .box-right {
    width: 0px;
}

.showBoxContent {
    max-height: 100%;
}


.recommend {
    display: flex;
    padding: 15px;
    font-family: Ink Free;
    font-size: 20px;
}

.suggestion-box {
    background: #EEECEA;
}

.warning {
    width: 80%;
}

.comment-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

@media (min-width: 540px) and (max-width: 786px) {
    h4 {
        width: 80%;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    #password {
        font-size: 2rem;
        width: 80%;

    }

    .password-container {
        padding-left: 40px;
    }
}

@media screen and (max-width: 540px) {
    .comment {
        height: 400px;
    }

    h4 {
        width: 80%;
        font-size: 2.7rem;
        line-height: 3rem;
    }

    #password {
        font-size: 1.3rem;
        padding-left: 15px;
        width: 80%;

    }

    .password-container {
        padding-left: 50px;
    }

    .heading {
        font-size: 10 .5;
    }

    .img {
        height: 70px;
        width: 70px;
    }

    .boxes ul {
        margin-left: 20%;
    }
}
